<div ng-controller="SandboxCtrl">

  <h1>
    This is our testing place
  </h1>

  <br/>


  <div class="left">
    <b>workers:</b>

    <div ng-repeat="worker in workersService.getWorkers()">
      <span>{{worker.first}}, {{worker.last}}</span>
    </div>
  </div>


  <div class="right">
    <!--https://github.com/mathewbyrne/angular-progress-arc-->
    <progress-arc size="{{ size }}"
                  stroke="{{ stroke }}"
                  stroke-width="{{ strokeWidth }}"
                  complete="workersService.getWorkers().length/15"
                  counter-clockwise="{{ counterClockwise }}">
    </progress-arc>
  </div>


  <label>New worker: (first, last)
    <input ng-model="newWorker">
  </label>

  <button ng-click="workersService.addWorker(newWorker); clearNewWorker()">add worker</button>


</div>

