<div ng-controller="SandboxCtrl">

  <div>
  This is our testing place
  </div>

  <br/>

  <div class="left">
    <b>workers:</b>

    <div ng-repeat="worker in listOfWorkersInBorderfree">
      <span>{{worker.first}}, {{worker.last}}</span>
    </div>
  </div>

  <div class="right">
    <!--https://github.com/mathewbyrne/angular-progress-arc-->
    <progress-arc  size="{{ size }}"
                   stroke="{{ stroke }}"
                   stroke-width="{{ strokeWidth }}"
                   complete="listOfWorkersInBorderfree.length/15"
                   counter-clockwise="{{ counterClockwise }}">
    </progress-arc>
  </div>

  <label>New worker: (first, last)
    <input ng-model="newWorker">
  </label>


  <button ng-click="addWorker(newWorker)">add worker</button>





</div>

